.addTodo {
    width: 80%;
    display: flex;
    margin-top: 20vh;
    
    &--flex {
        display: flex;
    }

    
    &__input {
        width: 100%;
        padding: 1rem;
        border: none;
        border-bottom: 5px solid #8f90db;
        outline: none;
        font-size: 40px;
        margin-right: 1rem;
        color: #00025f;

        &:focus {
            border-bottom: 5px solid #3d3fd3;
        }
    }

    &__btn {
        border: none;
        background-color: none;
        padding: 1rem 2rem;
        font-size: 20px;
        text-transform: uppercase;
        cursor: pointer;

        &:hover {
            background-color: #b8b9ec;
            color: #00025f;
        }
    }

    label + .MuiInput-formControl {
        margin-top: 30px;
    }

    .MuiInput-underline::before {
        border-bottom: 5px solid #8f90db;
        bottom: -19px!important;
    }

    .MuiInput-underline::after {
        border-bottom: 5px solid #3d3fd3;
        bottom: -19px!important;
    }

    .MuiFormControl-marginNormal {
        margin-right: 1rem;
    }

    .MuiInput-underline:hover:not(.Mui-disabled)::before {
        border-bottom: 5px solid #8f90db;
    }

}

@media screen and (max-width: 800px) {
    .addTodo {
        width: 80%;
        display: block;
        margin-top: 15vh;
        margin-bottom: 2rem;
    
        
        &__input {
            width: 100%;
            padding: 1rem;
            border: none;
            border-bottom: 5px solid #8f90db;
            outline: none;
            font-size: 15px;
            margin-right: 1rem;
            color: #00025f;
        }
    
        &__btn {
            border: none;
            background-color: none;
            padding: 1rem;
            font-size: 15px;
            text-transform: uppercase;
            cursor: pointer;
            margin-top: 1rem;

        }
    
    }
    
}