.addTodo {
    width: 70%;
    display: flex;
    margin-top: 20vh;
    

    
    &__input {
        width: 100%;
        padding: 1rem;
        border: none;
        border-bottom: 5px solid #8f90db;
        outline: none;
        font-size: 40px;
        margin-right: 1rem;
        color: #00025f;
    }

    &__btn {
        border: none;
        background-color: none;
        padding: 1rem 2rem;
        font-size: 20px;
        text-transform: uppercase;
        cursor: pointer;

        &:hover {
            background-color: #b8b9ec;
            color: #00025f;
        }
    }

}